<mat-card *ngIf="showFiller">
<mat-tab-group >
  <mat-tab label="Comptes">
    <app-classes></app-classes>
  </mat-tab>
      <mat-tab label="Comptes">
        <app-comptes></app-comptes>
      </mat-tab>
      <mat-tab label="Ecritures">
        <app-ecritures></app-ecritures>
      </mat-tab>
      <mat-tab label="Tableau periode">
        <app-tableau-periode></app-tableau-periode>
      </mat-tab>
      <mat-tab label="aa">
        <app-ec-co></app-ec-co>
      </mat-tab>
</mat-tab-group>
</mat-card>
