<mat-card>
  <form (submit)="sendIt(postForm)" class="example-form" #postForm="ngForm">
    <mat-form-field  class="example-full-width">
      <input matInput type="text" placeholder="Title " name ="tit" ngModel required color="primary" #tit="ngModel"><br>
      <mat-error *ngIf="tit.invalid">Donnez un titre svp!</mat-error><br>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Desc" name = "desc" ngModel required #desc = "ngModel"><br>
      <mat-error *ngIf="desc.invalid">Donnez un aaaa svp!</mat-error><br>
    </mat-form-field>
    <button mat-raised-button
    color="primary"
    type="submit">SEND </button>
  </form>
</mat-card>
