<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <form *ngIf="options" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Compte Débitaire :</ng-template>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Compte" aria-label="Number" matInput [formControl]="comptesEControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="true">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Compte Creditaire :</ng-template>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Compte" aria-label="Number" matInput [formControl]="comptesRControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let optionn of filteredOptions2 | async" [value]="optionn">
            {{optionn}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="comptesRControl.hasError('required')">
          Veuillez choisir un compte différent du premier svp!</mat-error>
        <mat-hint>{{comptesRControl.value?.sound}}</mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext [disabled]="memeCompte()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="true">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Somme envoyée :</ng-template>
        <mat-form-field class="ok">
          <input matInput placeholder="Somme" required [formControl]="Somme">
        </mat-form-field>
        <mat-form-field class="ok">
            <input matInput placeholder="Motif" [formControl]="Motif">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext (click)="infos()">Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmation : </ng-template>
    <h4> Confirmez ces informations :</h4>
    <div [innerHTML]="informations"></div>
    <div>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button (click)="ajouter(); stepper.reset()" color="Accent">Confirmer</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
